<div class="card">
  <div class="card-body">
    <h5 class="card-title bg-primary"><a href="{{link}}">{{title}}</a></h5>
    <a href="#" class="btn btn-primary bg-success">Save Article</a>
  </div>
</div>