html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #5543ff;
	margin: 0;
}

#myNavbar {
	background-color:  #2196F3;
}

#brand, #saved {
  color: #b2dbfb;
}

#brand:hover, #saved:hover {
  color: white;
}

#home {
  background-color: #0C7CD5;
}

#scrape, #scrape:hover, #scrape:active, #scrape:visited {
	border: none;
}

#scrape:hover {
  background-color: #0AAF53;
}

.cover {
	position: relative;
}

.bgimg {
	background-image: url("../img/newspaper.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.coverimg {
	position: absolute; 
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background-color: rgba(25, 25, 25, 0.7);
	width: 100%;
	height: 100%;
	z-index: auto;
}

#titleText {
	position: absolute;
	top: 40%;
	width: 100%;
  font-family: "Times New Roman", Times, serif;
}

#title {
  font-size: 5rem;
}

#subtitle {
  font-size: 1.8rem;
}

.cardHeader {
	height: 90px;
}

.cardTitle {
	font-size: 1.8rem;
}

.articleNote {
	background-color: #B01FA6;
}

.scrapeHeader, .scrapeFooter, .noteFooter, .noteHeader {border: 0px solid rgba(0, 0, 0, 0.2);}

.modal-lg {
	max-width: 53%;
}

#saveNote {
	margin-right: 12%;
}

#noteDiv {
	border: 1px solid lightgray;
}

#noteDiv p {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	display: block;
}

.summary {
	color: black;
}